.component-group-result-row {
  border-bottom: 1px solid #ccc;
  padding: 50px;
  height:60px;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  display: block;

}

.component-group-result-row:hover {
  background-color: #eee;
}



.component-group-result-row .title {
  position: relative;
}

.component-group-result-row .main {
  display: inline;
}

.component-group-result-row .content {
  display: inline;
  text-align: left;
}

.component-group-result-row .image {
  display: inline;
}

.component-group-result-row .info {
  float: right;
  position: relative;
  top: 8px;
  right: 10px;
  color: #ccc;
  display: none;
}

.component-group-result-row:hover .info {
  display: inline-block;
}